body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#title h1 {
    color: #333;
    margin-left: 10px;
}

#bitcoin-logo {
    width: 50px;
    height: 50px;
}

#calculator {
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#btcAmount, #currency {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f19100;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ce8600;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#conversionInfo {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

#instructions {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}